@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: block;
  font-family: "GT America";
  src: url("https://world-id-assets.com/fonts/GT-America-Md.woff2")
      format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: block;
  font-family: "GT America";
  src: url("https://world-id-assets.com/fonts/GT-America-Rg.woff2")
      format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: block;
  font-family: "GT America";
  src: url("https://world-id-assets.com/fonts/GT-America-RgIt.woff2")
  format("woff2");
  font-weight: 400;
  font-style: italic;
}

code {
  @apply bg-gray-100 rounded-md px-2 py-1 text-code;
  box-shadow: inset 0px 0px 0px 1px #eaf0f6;
}
