name: CI

on:
  - pull_request

jobs:
  lint:
    name: Code formatting & linting
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        uses: pnpm/action-setup@v2
        with:
          version: 9
          run_install: |
            - args: [--frozen-lockfile]

      - name: Check formatting with Prettier
        run: pnpm format:check

      - name: Lint
        run: pnpm lint

      - name: Check Typescript
        run: pnpm typecheck

  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        uses: pnpm/action-setup@v2
        with:
          version: 9
          run_install: |
            - args: [--frozen-lockfile]

      - name: Test
        env:
          E2E_TEST_APP_CLIENT_SECRET: ${{ secrets.E2E_TEST_APP_CLIENT_SECRET }}
        run: pnpm test
