name: CI

on:
  - pull_request

jobs:
  lint:
    name: Code formatting & linting
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check formatting with Prettier
        run: pnpm format:check

      - name: Lint
        run: pnpm lint

      - name: Check Typescript
        run: pnpm typecheck
